.toggle_button {
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    box-sizing: border-box;
    justify-content: space-between;
}

.toggle_button:focus {
    outline: none;
}

.toggle_button_line {
    width: 100%;
    height: 2px;
    background: white;
}