.about_page {
    position: relative;
    /* left: 100px; */
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: space-evenly; */
    align-items: center;
    height: 100%;
}

@media (min-width: 769px) {
    .about_page {
        width: 100% - 100px;
    }
}

.top {
    text-align: center;
}


.name {
    font-size: 65px;
    font-weight: bold;
}

.role {
    font-size: 30px;
    font-style: italic;
    font-weight: 500;
}

.content {
    margin: 60px 0 0 0;
    position: relative;
}

.about_box {
    position: absolute;
    top: -20px;
    left: -40px;
    width: 45%;
    background-color: var(--unselect);
    user-select: text;
    padding: 25px;
    font-size: 25px;
    flex-wrap: wrap;
    z-index: 3;
}

.about_img {
    position: relative;
}

.jeannine {
    font-weight: bold;
    position: relative;
}

#backdrop {
    color: black;
    background-color: rgba(0,0,0,0);
    cursor: pointer;
    transition: 0.2s;
}

.jeannine:hover > #backdrop{
    background-color: var(--select);
    color: var(--dashboard);
}

@media (max-width: 860px) {
    .about_box {
        font-size: 20px;
    }
    
    .about_img {
        width: 500px;
    }
}

@media (max-width: 768px) {
    .about_page {
        margin: 80px 0 0 0;
    }

    .content {
        margin: 40px 0 0 0 ;
    }

    .name {
        font-size: 8.5vmin;
    }

    .role {
        font-size: 4vmin;
    }

    .about_box {
        padding: 2vmax;
        font-size: 2vmax;
    }
    
    .about_img {
        width: 75vw;
    }
}