.project_preview {
    position: relative;
    margin: 1vw;
}

.filter_backdrop {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    transition: 0.2s;
    background-color: rgba(255, 255, 255, 0.3);
    opacity: 0;
}

.project {
    box-shadow: 10px 10px 10px var(--dashboard);
    height: 14vmax;
}

.project_preview:hover > .filter_backdrop {
    opacity: 1;
}