.filter_button{
    color: var(--dashboard);
    outline: 0; 
    font-size:1.5em;
    padding: 1.3vmin;
    font-weight:700;
    background:var(--unselect);
    border:none;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 var(--dashboard),
      2px 2px 0 0 var(--dashboard),
      3px 3px 0 0 var(--dashboard),
      4px 4px 0 0 var(--dashboard),
      5px 5px 0 0 var(--dashboard),
      6px 6px 0 0 var(--dashboard),
      7px 7px 0 0 var(--dashboard),
      8px 8px 0 0 var(--dashboard),
      9px 9px 0 0 var(--dashboard),
      10px 10px 0 0 var(--dashboard),
      11px 11px 0 0 var(--dashboard),
      12px 12px 0 0 var(--dashboard);
      cursor: pointer;
      margin: 20px 10px 20px 10px;
}

.filter_button:active{
    color: var(--dashboard);
    background-color: var(--hoverSelect);
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 var(--dashboard),
      2px 2px 0 0 var(--dashboard),
      3px 3px 0 0 var(--dashboard);
}

.filter_select {
    color: var(--dashboard);
    background-color: var(--select);
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 var(--dashboard),
    2px 2px 0 0 var(--dashboard),
    3px 3px 0 0 var(--dashboard);
}

.filtered_out {
    background-color: rgba(78, 78, 78, 1);
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
    1px 1px 0 0 var(--dashboard),
    2px 2px 0 0 var(--dashboard),
    3px 3px 0 0 var(--dashboard);
    pointer-events: none;
}
  
@media (max-width: 768px) {
    .filter_button {
        margin: 7px;
        font-size: 2.7vmax;
        font-weight: 600;
        padding: 1vmin;
        box-shadow:inset 0 -5px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 var(--dashboard),
        2px 2px 0 0 var(--dashboard),
        3px 3px 0 0 var(--dashboard),
        4px 4px 0 0 var(--dashboard),
        5px 5px 0 0 var(--dashboard),
        6px 6px 0 0 var(--dashboard),
        7px 7px 0 0 var(--dashboard);
    }

    .filter_select {
        color: var(--dashboard);
        background-color: var(--select);
        box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 var(--dashboard),
        2px 2px 0 0 var(--dashboard),
        3px 3px 0 0 var(--dashboard);
    }
    
    .filtered_out {
        background-color: rgba(78, 78, 78, 1);
        box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
        1px 1px 0 0 var(--dashboard),
        2px 2px 0 0 var(--dashboard),
        3px 3px 0 0 var(--dashboard);
        pointer-events: none;
    }
    
}