.description_view {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    color: var(--dashboard);
    align-items: center;
    justify-content: center;
}

.smaller_backdrop {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1vmax;
    width: 13vmax;
    background-color: white;
}

.title {
    text-align: center;
    font-size: 1.8vmax;
    font-weight: bold;
}

.description {
    font-size: 1.3vmax;
}

.tech_stack_title {
    font-size: 1.6vmax;
    margin-bottom: 1vmin;
    font-weight: 600;
}

.logo_container {
    display: flex;
    justify-content: center;
    width: auto;
}

.ReactLogo {
    padding: 0 2px 0 2px;
    height: 100%;
    width: 25%;
}

.javascript {
    padding: 0 2px 0 2px;
    height: 100%;
    width: 25%;
}