.blog_preview {
    position: relative;
    margin: 1vw;
    cursor: pointer;
}

.blog_backdrop {
    position: absolute;
    height: calc(100% - 4px);
    width: 100%;
    top: 0;
    transition: 0.2s;
    background-color: rgba(31, 31, 31, 0.8);
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 22px;
    font-weight: 600;
    flex-wrap: wrap;
}

.blog_preview:hover > .blog_backdrop {
	opacity: 1;
}

.blog_img {
	box-shadow: 10px 10px 10px var(--dashboard);
	height: 14vmax;
	width: 26vmax;
}