.home_page {
    position: relative;
    /* left: 100px; */
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

@media (min-width: 769px) {
    .home_page {
        width: 100% - 100px;
    }
}

@media (max-width: 768px) {
    .home_page {
        margin: 0;
    }
}