.home_page {
    position: relative;
    /* left: 100px; */
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    /* background: url('./../../assets/thresholds/tkviolin.svg') no-repeat; */
    background-size: cover;
    background-position: center;
}

.violin_back {
    position: absolute;
    z-index: -1;
    margin: 0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}

.TKViolin {
    height: 100vmax;
    width: 100%;
    z-index: -1;
}

.tkviolin {
    position: absolute;
    bottom: 40px;
    right: 30px;
    border-radius: 50%;
    height: 25vmin;
    width: 25vmin;
}

.home_msg {
    font-size: 2.5vmax;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0 0 25px 0;
}

.highlight {
    font-weight: bold;
    color: var(--select);
}

#first_line:after {
    content: '\a';
    white-space: pre;
}

.resume{
    color: var(--dashboard);
    outline:0; 
    font-size:1em;
    font-weight:600;
    background:#fff;
    border:none;
    padding:2em 4em;
    transition:all .3s ease-out; 
    box-shadow:inset 0 -8px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 var(--dashboard),
      2px 2px 0 0 var(--dashboard),
      3px 3px 0 0 var(--dashboard),
      4px 4px 0 0 var(--dashboard),
      5px 5px 0 0 var(--dashboard),
      6px 6px 0 0 var(--dashboard),
      7px 7px 0 0 var(--dashboard),
      8px 8px 0 0 var(--dashboard),
      9px 9px 0 0 var(--dashboard),
      10px 10px 0 0 var(--dashboard),
      11px 11px 0 0 var(--dashboard),
      12px 12px 0 0 var(--dashboard);
  }
  .resume:hover{
    color:#444;
  }
  .resume:active{
    color:#222;
    box-shadow:inset 0 -4px 0 0 rgba(0,0,0,.2),
      1px 1px 0 0 var(--dashboard),
      2px 2px 0 0 var(--dashboard),
      3px 3px 0 0 var(--dashboard),
      4px 4px 0 0 var(--dashboard),
      5px 5px 0 0 var(--dashboard);
  }

@media (min-width: 769px) {
    .home_page {
        width: 100% - 100px;
    }
}

@media (max-width: 768px) {
    .home_page {
        margin: 80px 0 0 0;
        height: calc(100vh - 80px);
    }

    .home_msg {
        font-size: 7vmin;
    }
}