.portfolio_page {
    position: relative;
    /* left: 100px; */
    margin: 0 0 0 100px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    height: 100%;
}

.filter_header {
    margin: 40px;
    padding: 0 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.project_container {
    width: calc(100vw - 100px);
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}

@media (min-width: 769px) {
    .portfolio_page {
        width: 100% - 100px;
    }
}

@media (max-width: 768px) {
    .portfolio_page {
        margin: 80px 0 0 0;
        height: calc(100vh - 80px);
    }

    .filter_header {
        margin: 10px;
    }
}

