:root{
  --select: #f2a265;
  --hoverSelect: #f7b786;
  --unselect: #ececec;
  --backgr: #30475e;
  --dashboard: #222831;
}

#root {
  height: 100%;
}


body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto',  'Segoe UI', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif
    ;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  background: var(--backgr);
  user-select: none;
}

html {
  height: 100%;
}

@media (max-width: 768px) {
  #root {
      height: calc(100vh - 80px);
  }

  body {
    height: calc(100vh - 80px);
  }
}




code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


li {
  list-style-position: inside;
}