* {
    margin: 0;
    padding: 0;
    z-index: 2;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100px;
    width: 100px;
    /* background: #ececec; */
}

.personal_logo {
    height: 100%;
    width: 100%;
}

.navbar {
    background: #222831;
    width: 100px;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav_items {
    position: relative;
}

.item {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--unselect);
    font-weight: bold;
    font-size: 20px;
    user-select: none;
}

.word {
    transition: color 0.4s;
}

.back {
    z-index: -1;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background: var(--select);
    left: -100%;
    transition: 0.4s;
}

a {
    text-decoration: none;
}

.item:hover {
    color: var(--dashboard);
}

.item:hover > .back {
    transform: translateX(100%);
}

.item > .selected {
    left: 0;
    transform: translateX(0);
    color: var(--dashboard);
}

.item:hover > .selected {
    transform: translateX(0);
}

.social_items {
    height: 110px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.social_link {
    height: 35px;
    width: 100%;
    padding: 5px 0 5px 0;
}

.social {
    height: 100%;
    width: 100%;
}

.github {
    width: 100%;
    height: 100%;
}

@media (min-width: 769px) {
    #github {
        fill: var(--unselect);
        transition: 0.2s;
    }
}

@media (max-width: 768px) {
    .social_links {
        height: 50px;
        position: absolute;
        bottom: 90px;
    }

    .social {
        padding: 10px 0 10px 0;
    }

    #github {
        fill: var(--backgr);
        transition: 0.2s;
    }
}

.github:hover > #github {
    fill: var(--select);
}

.github:active > #github {
    fill: var(--select);
}

.linkedin {
    height: 100%;
    width: 100%;
}

@media (min-width: 769px) {
    #linkedin1 {
        fill: var(--unselect);
        transition: 0.2s;
    }
    
    #linkedin2 {
        fill: var(--unselect);
        transition: 0.2s;
    }
}

@media (max-width: 768px) {
    #linkedin1 {
        fill: var(--backgr);
        transition: 0.2s;
    }
    
    #linkedin2 {
        fill: var(--backgr);
        transition: 0.2s;
    }
}


.linkedin:hover > #linkedin1 {
    fill: var(--select);
}

.linkedin:hover > #linkedin2 {
    fill: var(--select);
}

.linkedin:active > #linkedin1 {
    fill: var(--select);
}

.linkedin:active > #linkedin2 {
    fill: var(--select);
}

.mobile_nav {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    background: var(--dashboard);
    height: 80px;
    width: 100vw;
}

@media (min-width: 769px) {
    .mobile_nav {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar {
        display: none;
    }

    .mobile_nav {
        z-index: 3;
    }
}

.mobile_logo {
    height: 100%;
    width: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
}